body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yeseva One', cursive;
}
.top-title{
    font-family: Yeseva One;
    font-size: 2.5em;
    line-height: 40px;
    border-left: 4px solid orangered;
    margin-top: 85px;
}
.flexible-content{
    display: flex;
    margin: 5% 8% 0% 8%;
}
.half-width img{
    width: 70%;
    margin-left: 18%;
    margin-top: 35px;
}
.half-width{
    width: 100%;
}
.border-margin{
    margin-left: 2%;
}
.text-part-color{
    color:#FFAD5A;
}
.paragraph-text{
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    width: 471px;
    text-align: justify;
}
.button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: Poppins;
    background-color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    width: 170px;
    height: 28px;  
}
.my-mission-text{
    color: #13103A;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:900;
    font-size: 46px;
    line-height: 70px;
    text-align: center;
}
.illustrator{
    height: 126px;
    width: 126px;
    }
.illustrator-box{
    height: 300px;
    width: 50%;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 20px;
    padding: 24px;
    font-family: Poppins;
}
.