@import url('https://fonts.googleapis.com/css?family=Lobster');
body{
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yeseva One', cursive;
}
.top-title{
    font-family: Yeseva One;
    font-size: 2.5em;
    line-height: 40px;
    border-left: 4px solid orangered;
    margin-top: 85px;
}
.flexible-content{
    display: flex;
    margin: 5% 8% 2% 8%;
}
.half-width img{
    width: 70%;
    margin-left: 18%;
    margin-top: 35px;
}
.half-width{
    width: 100%;
}
.border-margin{
    margin-left: 2%;
}
.text-part-color{
    color:#FFAD5A;
}
.paragraph-text{
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
    margin-top: -2%;
}
.button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: Poppins;
    background-color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    width: 170px;
    height: 28px;  
}
.my-mission-text{
    color: #13103A;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight:900;
    font-size: 46px;
    line-height: 70px;
    text-align: center;
}
.illustrator{
    height: 126px;
    width: 126px;
    }
.illustrator-skill-box{
    height: 350px;
    width: 50%;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 20px;
    padding: 24px;
    font-family: Poppins;
    margin-bottom: 4%;
}
.doc-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}
#doc-one-img{
    width: 76%;
}
#background-first-doc-section{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position-x: 3%;
    background-position-y: 40%;
    background-size: 14.6%;
}
#doc-second-img{
    width: 76%;
    float: right;
}
#background-second-doc-section{
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 13%;
    background-position-x: 97%;
    background-position-y: 100%;
    padding-bottom: 5%;
}
footer{
    background-color: black;
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 177px;
}
#mission-2022{
    font-family: 'Lobster', courier;
    font-size: 36px;
}
#mission{
    color: white;
}
#m2022{
    color: #FF5959;
}
#footer-text{
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
}
.skills img{
width: 100%;
}
.skills-aboutMe-title{
    color: coral;
}
.skills-aboutMe-font{
    margin-top: -2%;
    margin-left: 5%;
    font-size: 35px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.aboutMe-text{
    box-shadow: 10px 10px 40px 2px rgb(91, 149, 197);
    width: 50%;
    height: 260px;
    padding: 2%;
    margin-top: 7%;
    border-left: 6px solid;
    border-image: linear-gradient(rgb(241, 104, 55), rgb(47, 0, 255));
    border-image-slice: 1;
    color: olivedrab;
}
