body{
    margin: 5% 8% 0% 8%;
    font-family: 'Arimo', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yeseva One', cursive;
}
.top-title{
    font-family: Yeseva One;
    font-size: 2.5em;
    line-height: 40px;
    border-left: 4px solid orangered;
    margin-top: 95px;
}
.first-section{
    display: flex;
}
.half-width img{
    width: 70%;
    margin-left: 18%;
}
.half-width{
    width: 100%;
}
.text-part-color{
    color:#FFAD5A;
    margin-left: 2%;
}
.paragraph-text{
    font-family: Poppins;
    font-size: 18px;
    line-height: 28px;
    width: 471px;
    text-align: justify;
}
.button{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-family: Poppins;
    background-color: #FF5959;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    width: 170px;
    height: 28px;  
}
